.listItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.listItem:not(:last-child) {
  margin-bottom: 10px;
}

.btn {
  font-family: var(--font);
  cursor: pointer;
  background-color: var(--third-color);
  line-height: 1.62;
  border: transparent;
  transition: box-shadow var(--animation), color var(--animation),
    background-color var(--animation);
  border-radius: 5px;
  color: var(--main-color);
  border: 1px solid var(--main-color);
}

.btn:hover,
.btn:focus {
  color: var(--second-color);
  background-color: var(--main-color);
  box-shadow: 0px 3px 1px rgb(0 0 0 / 10%), 0px 1px 2px rgb(0 0 0 / 8%),
    0px 2px 2px rgb(0 0 0 / 12%);
}
